<footer>
  <div class="main-content" id="Aboutus_">
    <div class="left box">
      <h2>OPEN</h2>
      <div class="content">
      <p>Monday-Saturday</p>
      <p>10:00AM- 5:00PM</p>
      <p>Sunday Closed</p>
     </div>
    </div>
    <div class=" center ">
      <img src="images/logo.png" />
    </div>
    <div class="right boxs">
    <h2>contact us</h2>
    <div class="content">
     <div class="place">
       <p class="text">Main Road, Ranchi</p>
     </div>
     <div class="phone">
       <p class="text">+0999999999</p>
     </div>
     <div class="email">
       <p class="text">cafeteria@gmail.com</p>
     </div>
    </div>
   </div>
  </div>
 </footer>
</body>
</html>